python-ldap==2.4.29
certifi==2017.1.23
requests==2.5.1
requests-oauthlib==0.6.2
arrow==0.8.0
suds==0.4
httplib2==0.9.2
oauth2client==4.0.0
google-api-python-client==1.6.1
xmltodict==0.10.2
gevent==1.2.1
# pyodbc==4.0.3
# urllib3==1.10.4